name: Build and Release
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Get previous release tag
        id: previous-release
        uses: sammcoe/get-previous-release-action@v1


      - name: Install dependencies
        run: |
          cargo install wasm-pack
          yarn install

      - name: Build
        run: |
          yarn run github_actions || true
          yarn run github_actions

      # - name: Get previous release tag
      #   id: previous-release
      #   uses: sammcoe/get-previous-release-action@v1

      - name: Get next version
        id: next_version
        run: echo "::set-output name=version::$(/bin/sh ./src/scripts/next_ver.sh manifest.json  ${{ steps.previous-release.output.release }})"

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.YOUR_GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.next_version.outputs.version }}
          release_name: ${{ steps.next_version.outputs.version }}
          draft: false
          prerelease: false

      - name: Upload Release Asset Main
        id: upload-release-asset-main 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.YOUR_GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./main.js
          asset_name: main.js
          asset_content_type: application/js

      - name: Upload Release Asset Manifest
        id: upload-release-asset-manifest
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.YOUR_GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./manifest.json
          asset_name: manifest.json
          asset_content_type: application/json
